// Incluye un sass map donde podremos nombrar y crear variables personalizadas en cada proyecto.

:root {
  --body-bg: hsl(227, 100%, 98%);
  --logo-clr: hsla(220, 18%, 16%, 1);
  --profile-bg: hsl(0, 0%, 100%);
  --search-bg: var(--profile-bg);
  --search-btn-clr: hsl(0, 0%, 100%);
  --switcher-clr: hsl(217, 35%, 45%);
  --paragraph-clr: hsl(217, 35%, 45%);
  --search-btn-bg: hsl(212, 100%, 50%);
  --profile-name-clr: hsl(217, 21%, 21%);
  --username-at-clr: hsl(212, 100%, 50%);
  --joined-date: hsl(217, 20%, 51%);
  --user-statistics: hsl(217, 21%, 21%);
  --user-profile-bg: hsl(227, 100%, 98%);
  --user-profile: hsl(217, 35%, 45%);
  --icon-fill: hsl(217, 35%, 45%);
  --translateX: translateX(15%);
  --error-message-clr: hsla(0, 91%, 62%, 1);
}

:root[data-theme='dark'] {
  --body-bg: hsl(220, 40%, 13%);
  --profile-bg: hsl(222, 41%, 20%);
  --search-bg: var(--profile-bg);
  --logo-clr: var(--paragraph-clr);
  --switcher-clr: var(--paragraph-clr);
  --paragraph-clr: hsl(0, 0%, 100%);
  --search-btn-bg: hsl(212, 100%, 50%);
  --profile-name-clr: var(--paragraph-clr);
  --username-at-clr: hsl(212, 100%, 50%);
  --joined-date: var(--paragraph-clr);
  --user-statistics: hsl(217, 21%, 21%);
  --user-profile: var(--paragraph-clr);
  --user-profile-bg: hsl(220, 40%, 13%);
  --icon-fill: var(--paragraph-clr);
  --translateX: translateX(120%);
}
