// Incluye un sass map donde podremos nombrar y crear variables personalizadas en cada proyecto.

$colors: (
  neutral: (
    900: #141d2f,
    800: #2b3442,
    700: #697c9a,
    400: #f6f8ff,
    200: #fefefe,
    100: #ffffff,
  ),
  primary: (
    400: #0079ff,
    500: #1e2a47,
  ),
);
