// Diferentes font-sizes que tendran lugar en el folder utilities para crear clases que podremos usar dentro de nuestro html.

// Font-family
$ff-sans: 'Space Mono', monospace;

$ff-base: $ff-sans;

//Font-sizes

$font-sizes: (
  900: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  800: clamp(2.5rem, 0.5rem + 7vw, 3.75rem),
  600: clamp(1.4rem, 0.5rem + 3vw, 1.6875rem),
  500: 1.625rem,
  400: 1.125rem,
  300: 1rem,
  // input size from 13 to 18 big screen
  200: clamp(0.8125rem, 0.6122rem + 0.8547vw, 1.125rem),
  // switcher btn 13px all devices.
  100: 0.813rem,
);

//Font-weights

$fw-400: 400;
$fw-700: 700;
