// Diferentes font-sizes que tendran lugar en el folder utilities para crear clases que podremos usar dentro de nuestro html.

// Font-family
$ff-sans: 'Space Mono', monospace;

$ff-base: $ff-sans;

//Font-sizes

$font-sizes: (
  900: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  800: clamp(2.5rem, 0.5rem + 7vw, 3.75rem),
  600: clamp(1rem, 0.4612rem + 2.2989vw, 1.625rem),
  500: clamp(1rem, 0.6767rem + 1.3793vw, 1.375rem),
  400: clamp(0.6875rem, 0.5797rem + 0.4598vw, 0.8125rem),
  // 13 to 15px
  300: clamp(0.8125rem, 0.7047rem + 0.4598vw, 0.9375rem),
  // input size from 13 to 18 big screen
  200: clamp(0.8125rem, 0.6122rem + 0.8547vw, 1.125rem),
  // switcher btn 13px all devices.
  100: 0.813rem,
);

//Font-weights

$fw-400: 400;
$fw-700: 700;
