@use '../abstracts/' as *;

// Esto puede ser de mucha ayuda a la hora de crear botones y navegations.

.flex-group-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-group-2 {
  display: flex;
  gap: size(14);
  align-items: center;
}

.flex-group-3 {
  display: flex;
  align-items: center;
  gap: size(20);
}

.flex-group-4 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-group-5 {
  display: flex;
  align-items: center;
  gap: size(12);

  @include mq(medium) {
    gap: size(20);
  }
}
