@use '../abstracts/' as *;

// Esto puede ser de mucha ayuda a la hora de crear botones y navegations.

.flex-group-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-group-2 {
  display: flex;
  gap: size(14);
  align-items: center;
}
