@use '../abstracts/' as *;

.grid-form {
  --column-gap: 0.438rem;
  //   --row-gap: #{size(8)};

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: var(--column-gap, $grid-group-gap);
  align-items: center;
  justify-content: center;
  //   row-gap: var(--row-gap, $grid-group-gap);

  @include mq(medium) {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
