@use '../abstracts/' as *;

.button {
  // Some default removed from the btn.
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  border: 0;
  transition: 275ms ease;
  font-weight: $fw-700;

  &[data-type='switcher'] {
    text-transform: uppercase;
    background-color: transparent;
    color: clr(neutral, 700);
    letter-spacing: 2.5px;

    &:is(:hover, :focus) {
      color: clr(primary, 600);
    }
  }

  &[data-type='search'] {
    background: clr(primary, 400);
    padding-block: 12.5px;
    padding-inline: size(16);
    color: clr(neutral, 100);
    border-radius: size(10);

    &:is(:hover, :focus) {
      background-color: clr(primary, 300);
    }
  }
}
