@use '../abstracts/' as *;

.button {
  // Some default removed from the btn.
  cursor: pointer;
  text-decoration: none;
  line-height: 1.5;
  border: 0;
  transition: 275ms ease;
  font-weight: $fw-700;

  &[data-type='switcher'] {
    display: inline-flex;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--switcher-clr);
    letter-spacing: 0.156rem;
    align-items: center;
    gap: size(16);
    font-size: fs(100);

    &:is(:hover) {
      color: var(--switcher-clr-hover);
    }
  }

  &[data-type='search'] {
    background: var(--search-btn-bg);
    padding-block: 0.781rem;
    padding-inline: size(16);
    color: var(--search-btn-clr);
    border-radius: size(10);

    &:is(:hover) {
      background-color: var(--search-btn-bg-hover);
    }
  }
}
