@use '../abstracts/' as *;

.contact-data {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: size(16);
  font-size: fs(300);

  svg > path,
  g {
    fill: var(--svg-bg);
  }

  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: size(20);
  }
}
